<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respuestas</title>
    <link rel="stylesheet" href="/css/Facebluff.css">
</head>

<body>

    <%- include("header_user")%>
    <%- include("navigation")%>
  

    <%- include("flash")%>

    <p class = "grafito title_pag"><%= question[0].questionText %></p>
    
    <form method = "POST" action = "/createAnswer">

        <ul class = "nostyle_ul grid_ul">
        
            <% question.forEach(quest => { %>

                <fieldset class = "answer_fieldset">
                    <li>
                        <% if(gueesFriend === 1){ %>
                            <input type = "hidden" name = "correct" value = "<%= quest.correct %>">
                        <% } %>
                        <input type="radio" value = "<%=quest.idAnswer%>" name = "answer"> <%= quest.answerText %>
                    </li>
                </fieldset>

            <% }); %>

        <% if(gueesFriend === 0){ %>
            <fieldset class = "answer_fieldset"><li>
                <input type="radio" name="alternative_answer"> Otra Respuesta
                <input class = "alternative_answer" type="text" name="alternative_answer" placeholder = "Introduce una respuesta alternativa">
            </li></fieldset>
            </ul>
        <% } %>

        <input type = "hidden" name = "id" value = "<%= question[0].idQuestion %>">
        
        <div class = "button_div">
            <% if(gueesFriend === 1){ %>
                <input type = "hidden" name = "idFriend" value = "<%= idFriend %>">
                <input action = "/gueesAnswer" class = "small_button scale" type = "submit" value = "Contestar">
            <% } else{%>
                <input action = "/createAnswer" class = "small_button scale" type = "submit" value = "Contestar">
            <% } %>
        </div>
    </form>

</body>
</html>
