<!DOCTYPE html>
<html lang="es">

<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Contestar pregunta</title>
    
    <link rel="stylesheet" href="/css/Facebluff.css">
</head>

<body>
    
    <%- include("header_user")%>
    <%- include("navigation")%>
    
    
    <p class = "grafito title_pag"><%= question.questionText %></p>

    <%- include("flash")%>

    <div id = "ask_div">

        <% if(!show) {%>
            <div>
                <p class = "text_ask">No has contestado a esta pregunta:</p>
                <a href = "/answerQuestion.html/<%= question.idQuestion %>" class = "link_button">Constestar Pregunta</a>
            </div>
        <% } %>

        <ul class = "nostyle_ul">

            <% list_friendsNotAnswer.forEach(friend => { %>

                <div class = "friend_request_div">

                    <li class = "friend_list">
                        <img class = "imgAmigo" src = "/imagen/<%= friend.idFriend %>">
                        <p><%= friend.nameFriend %> <%= friend.surnameFriend %></p>
                    </li>

                    <li class = "friend_list">
                        <a class = "link_button" href = "/guessQuestionFriend/<%= friend.idFriend %>/<%= question.idQuestion%>">Adivinar</a>
                    </li>
                </div>
            <% }); %>


            <% list_friendsAnswer.forEach(friend => { %>

                <div class = "friend_request_div">

                    <li class = "friend_list">
                        <img class = "imgAmigo" src = "/imagen/<%= friend.idFriend %>">
                        <p><%= friend.nameFriend %> <%= friend.surnameFriend %></p>
                    </li>
  
                    <%if(friend.result === 0){ %>
                        <li class = "friend_list">
                            <label class="grafito ask_label red" for="txt_email">Has Fallado</label>
                        </li>
                    <%}else {%>
                    
                        <li class = "friend_list">
                            <label class="grafito ask_label green" for="txt_email">Has Acertado</label>
                        </li>
                    <% } %>
                </div>
            <% }); %>

        </ul>

    </div>
    
</body>

</html>
