<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nuevo Usuario - Facebluff</title>

    <link rel="stylesheet" href="css/Facebluff.css">
</head>

<body>

    <%- include("header_login")%>

    <p class="title_pag grafito">Registro</p>
    
    <%- include("flash")%>

    <form id="registry_form" action = "/check_in" method = "POST" enctype="multipart/form-data">

        <fieldset id = "first_fieldset" class="grafito">

            <div class="grid_reg">
                
                <label class="grafito standar_label" for="txt_email">Email:</label>
                
                <div>
                    <input class="standar_reg" type="text" name="email" id="txt_email" value="<%= user.email %>" autofocus>

                    <% if (err.email) { %>
                            <label class="red err_label"><%= err.email.msg %></label>
                    <% } %>
                </div>
            </div>

            <div class="grid_reg">
                
                <label class="grafito standar_label" for="txt_contraseña">Contraseña:</label>
                
                <div>
                    <input class="standar_reg" type="password" name="password" id="txt_contraseña" value="<%= user.password %>">

                    <% if (err.password) { %>
                            <label class="red err_label"><%= err.password.msg %></label>
                    <% } %>
                </div>
            </div>

            <div class="grid_reg">
                
                <label class="grafito standar_label" for="txt_nombre">Nombre:</label>
                
                <div>
                    <input class="standar_reg" type="text" name="name" id="txt_nombre" value="<%= user.name %>">

                    <% if (err.name) { %>
                            <label class="red err_label"><%= err.name.msg %></label>
                    <% } %>
                </div>
            </div>

             <div class="grid_reg">
                
                <label class="grafito standar_label" for="txt_nombre">Apellidos:</label>
                
                <div>
                    <input class="standar_reg" type="text" name="surname" id="txt_nombre" value="<%= user.surname %>">

                    <% if (err.surname) { %>
                            <label class="red err_label"><%= err.surname.msg %></label>
                    <% } %>
                </div>
            </div>

            <div class = "bottom_div">

                <% if(Object.keys(user).length === 0){ %>

                    <input class = "sex_radio" type="radio" name="gender" value = "0"> Hombre </input>
                    <input class = "sex_radio" type="radio" name="gender" value= "1"> Mujer </input>
                <% }else if(user.gender === 0){ %>

                     <input class = "sex_radio" type="radio" name="gender" value = "0" checked> Hombre </input>
                    <input class = "sex_radio" type="radio" name="gender" value= "1"> Mujer </input>
                <% } else{ %>
                
                     <input class = "sex_radio" type="radio" name="gender" value = "0"> Hombre </input>
                    <input class = "sex_radio" type="radio" name="gender" value= "1" checked> Mujer </input>
                <% } %>
            </div>

            <div class = "bottom_div">
                
                <label class="grafito standar_label" for="txt_fecha">Fecha Nacimiento:</label>
                
                <div>
                    <input type="date" name="date" id="txt_fecha" value="<%= user.date %>">

                    <% if (err.date) { %>
                            <label class="red err_label"><%= err.date.msg %></label>
                    <% } %>
                </div>
            </div>

            <label for="inputImagen" class = "standar_label">Imagen de perfil</label>
            <input type="file" name = "foto" id="inputImagen" class = "img_select">

        </fieldset>

        <div class = "button_div">
            <input class = "small_button scale" action = "/check_in" type = submit value="Registrarse">
        </div>

    </form>

</body>
</html>






