<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de amigos</title>
    <link rel="stylesheet" href="css/Facebluff.css">
</head>

<body>

    <%- include("header_user")%>
    <%- include("navigation")%>

    <p class="title_pag grafito"><%= infMsg %></p>

    <% if(listSearch !== null){ %>
            <ul class="friend_ul">
                <% listSearch.forEach(search => { %>
                    <div class="friend_request_div">
                        <li class="friend_list">
                            <img class="imgAmigo" src="img/noPerfil.png">
                            <input name = "idUser2" type = "hidden" value = "<%= search.idUser %>">
                            <p><%= search.name %> <%= search.surname %></p>
                        </li>
                        <li class="friend_list">
                            <a href = "/request_friendship/<%= search.idUser %>" class="search_friend_button name_friend">Solicitar amistad</a>
                        </li>
                    </div>
                <% }) %>
            </ul>
    <% } %>

</body>

</html>
